.searchbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    gap: 1rem;
}

.search-btn {
    border: none;
    background-color: var(--primaryPurple) !important;
    color: var(--white) !important;
    transition: var(--transition);
    padding: 12px 24px !important;

    &:hover {
        background-color: var(--darkPurple) !important;
    }
}